<!DOCTYPE html>
<html lang="en">

<head>
    <title>Site Administration</title>
</head>
<!-- index ejs file -->
<body>
    <div id="app">
        <%- htmlString %>
    </div>
    <script src="bundle.js"></script>
</body>

</html>
